<h1>Panel admina.</h1>

<h2>Email do użytkowników.</h2>
@Html.Action("MassEmail", "Admin")

<h2>Posty.</h2>
@Html.Action("GetPosts", "Admin")

<h2>Użytkownicy.</h2>
@Html.Action("GetUsers", "Admin")

<h2>Komentarze.</h2>
@Html.Action("GetComments", "Admin")

<h2>Ćwiczenia</h2>
@Html.Action("GetExercises", "Admin")