
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street Workout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    @if (Request.IsAuthenticated && User.IsInRole("admin"))
    {
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="backgroundimage">
                    <div class="background-text">
                        <h1 style="font-size:72px">Street Workout</h1>
                    </div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Strona Główna", "Index", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Mapa", "Map", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Plany Treningowe", "ChooseTraining", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Spis ćwiczeń", "Exercises", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Admin Panel", "Index", "Admin", null, new { @class = "action-link-color" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">

            @RenderBody()

            <footer id="footer">
                <br />
                <hr />
                <p>&copy; @DateTime.Now.Year — aplikacja Street Workout.</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)

    }
    else
    {
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="backgroundimage">
                    <div class="background-text">
                        <h1 style="font-size:72px">Street Workout</h1>
                    </div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Strona Główna", "Index", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Miejsca do ćwiczeń", "Map", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Plany Treningowe", "ChooseTraining", "Blog", null, new { @class = "action-link-color" })</li>
                        <li>@Html.ActionLink("Spis ćwiczeń", "Exercises", "Blog", null, new { @class = "action-link-color" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div class="container body-content">

            @RenderBody()

            <footer id="footer">
                <br />
                <hr />
                <p>&copy; @DateTime.Now.Year — aplikacja Street Workout.</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)


    }

</body>

</html>
